<mat-card class="mat-elevation-z6">
	<mat-card-header>
		<mat-card-title>Potvrda identiteta</mat-card-title>
	</mat-card-header>

	<form class="container" [formGroup]="questionForm" (ngSubmit)="checkAnswer()">
		<mat-form-field appearance="outline">
			<mat-label>Tajanstveno pitanje</mat-label>
			<input matInput type="text" value="{{ question }}" disabled>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Odgovor</mat-label>
			<input matInput type="text" formControlName="answer" [errorStateMatcher]="matcher" required>
			<mat-error>{{ errorMessage('answer') }}</mat-error>
		</mat-form-field>

		<div class="middle">
			<button mat-raised-button type="submit" color="accent" [disabled]="!questionForm.valid">Potvrdi</button>
		</div>
	</form>
</mat-card>