<mat-card class="mat-elevation-z6">
	<mat-card-header>
		<mat-card-title>Promena lozinke</mat-card-title>
	</mat-card-header>

	<form class="container" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
		<mat-form-field appearance="outline">
			<mat-label>Korisničko ime</mat-label>
			<input matInput type="text" formControlName="username" required>
			<mat-error>{{ errorMessage('username') }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" *ngIf="!forgotten">
			<mat-label>Stara lozinka</mat-label>
			<input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword" [required]="!forgotten">
			<button mat-icon-button matSuffix (click)="hideOld = !hideOld">
				<mat-icon>{{ hideOld ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error>{{ errorMessage('oldPassword') }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Nova lozinka</mat-label>
			<input matInput [type]="hideNew ? 'password' : 'text'" formControlName="password" required>
			<button mat-icon-button matSuffix (click)="hideNew = !hideNew">
				<mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error>{{ errorMessage('password') }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Potvrda nove lozinke</mat-label>
			<input matInput type="password" formControlName="confirm" required>
			<mat-error>{{ errorMessage('confirm') }}</mat-error>
		</mat-form-field>
		
		<div class="buttons">
			<button mat-raised-button color="accent" [disabled]="!passwordForm.valid">Promena lozinke</button>
		</div>
	</form>
</mat-card>